.titulo
{
	height:58px;
	margin-bottom:20px;
}

.conteudo strong
{
	font-family:"zwo6", Tahoma, Geneva, sans-serif;
	font-weight:normal;
}

.conteudo h2
{
	color:#5a7f91;
	font-size:20px;
	margin-top:30px;
	font-weight:normal;
}

.veja-mais
{
	padding:20px;
	margin:5px 0 10px 0;
	background-color:#f4f4f2;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

.veja-mais ul
{
	height:40px;
	margin-top:5px;
}

.veja-mais li
{
	float:left;
	margin-left: 20px;
}

.veja-mais li:first-child
{
	margin:0;
}

.veja-mais a
{
	background-image:url(../../imgs/comissoes/bot-lista.png);
	background-position:left top;
	background-repeat:no-repeat;
	overflow:hidden;
	display:block;
	width:171px;
	height:26px;
	color:#fff;
	
	font-family:"zwo6", Tahoma, Geneva, sans-serif;
	padding:14px 0 0 35px;
}

.veja-mais a:hover
{
	background-position:left -40px;
}