.foto
{
	float:left;
	margin:0 20px 20px 0;
}

.foto span
{
	background-image:url(../../imgs/vereadores/detalhe/mask.png);
	background-position:left top;
	background-repeat:no-repeat;
	position:absolute;
	display:block;
	height:353px;
	width:340px;
}

.semFoto
{
	width:100% !important;
	float:none !important;
}

.informacoes
{
	float:left;
	width:340px;
	margin:20px 0 20px 0;
}

h2
{
	font-family:"zwo3Italic", Tahoma, Geneva, sans-serif;
	font-weight:normal;
	font-size:20px;
	color:#5a7f91;
}


.informacoes .partido
{
	background-image:url(../../imgs/vereadores/bg-partido.jpg);
	background-position:left top;
	background-repeat:no-repeat;
	
	font-family:"zwo6", Tahoma, Geneva, sans-serif;
	text-transform:uppercase;
	margin:7px 0 5px 0;
	text-align:center;
	line-height:25px;
	font-size:14px;
	display:block;
	height:25px;
	width:40px;
	color:#fff;
}

.informacoes .dadosPessoais
{
	margin-top:20px;
}

.informacoes .dadosPessoais li
{
	margin-bottom:15px;
}

.informacoes .dadosPessoais li a
{
	color:#d6bf27;
}

.informacoes .dadosPessoais li a:hover
{
	color:#eeda5a;
}

.informacoes .dadosPessoais strong
{
	color:#7b8843;
	font-weight:normal;
	font-family:"zwo6", Tahoma, Geneva, sans-serif;
}

/* formulario
---------------------------------------------------------------------------------------------------- */

.formulario
{
	color:#b6b8aa;
	font-size:16px;
	margin-top:30px;
}

.formulario ul
{
	margin-top:15px;
}

.formulario li
{
	float:left;
	margin:0 35px 20px 0;
}

.formulario span
{
	display:block;
	height:43px;
}

.formulario span input,
.formulario span select,
.formulario span textarea
{
	background-color:transparent;
	margin:13px 0 0 10px;
	font-size:13px;
	color:#898a80;
}

/* input330
---------------------------------------------------------------------------- */

.formulario .input330
{
	width:331px;
}

.formulario .input330 span
{
	background-image:url(../../imgs/vereadores/detalhe/input330.png);
	background-position:left top;
	background-repeat:no-repeat;
}

.formulario .input330 span input,
.formulario .input330 span select
{
	width:313px;
}

/* mensagem
---------------------------------------------------------------------------- */

.formulario .mensagem span
{
	background-image:url(../../imgs/vereadores/detalhe/textarea.png);
	background-position:left top;
	background-repeat:no-repeat;
	height:183px;
	width:702px;
}

.formulario .mensagem textarea
{
	background-color:transparent;
	margin:10px 0 0 10px;
	
	height:150px;
	width:680px;
	
	max-height:150px;
	max-width:680px;
	
	min-height:150px;
	min-width:680px;
}


/* checkbox
---------------------------------------------------------------------------- */

.formulario .checkbox
{
	font-size: 14px;
	display: block;
	height:43px;
}

/* botEnviar
---------------------------------------------------------------------------- */

.formulario .botEnviar
{
	float:right;
	height:119px;
	overflow:hidden;
	margin:-50px 0 0 0;
}
.formulario .botEnviar:hover input
{
	margin-top:-119px;
}

